<section id="feedback">
    <div class="container">
        <h3 class="feedback-title">Щасливі історії, що надихають</h3>
        <p class="feedback-text">Ці хвостики вже знайшли свій дім. Ваш майбутній друг теж чекає на вас</p>

        <div class="swiper feedback-swiper">
            <div class="swiper-wrapper">
                <!-- сюди JS вставить картки -->
            </div>
        </div>

        <!-- зірки -->
        <div class="rating value-3 star-icon">
            <div class="star-container">
                <div class="star">
                    <svg class="star-empty">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink"
                            xlink:href="assets/images/star-rating.icons.svg#star-empty"></use>
                    </svg>
                    <svg class="star-half">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink"
                            xlink:href="assets/images/star-rating.icons.svg#star-half"></use>
                    </svg>
                    <svg class="star-filled">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink"
                            xlink:href="assets/images/star-rating.icons.svg#star-filled"></use>
                    </svg>
                </div>
            </div>
        </div>

        <div class="feedback-navigation">
            <div class="feedback-swiper-pagination"></div>

            <div class="arrow">
                <button class="feedback-swiper-button-prev" type="button" aria-label="Previous slide">
                    <svg class="feedback-arrow-prev" width="24" height="24">
                        <use href="../img/sprite.svg#icon-left"></use>
                    </svg>
                </button>

                <button class="feedback-swiper-button-next" type="button" aria-label="Next slide">
                    <svg class="feedback-arrow-next" width="24" height="24">
                        <use href="../img/sprite.svg#icon-right"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>