.pets {
  padding: 64px 20px 32px;
}

.pets-title {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #02060a;
  margin-bottom: 16px;
}

.pets-subtitle {
  text-align: center;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #02060a;
  margin-bottom: 32px;
}

/* Фільтри */
.pets-filters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 32px;
}

.pets-filters button {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #02060a;
  border-radius: 100px;
  padding: 10px 16px;
  cursor: pointer;
}

.pets-filters button.active {
  font-weight: 500;
  background-color: #eee9e3;
  border: 1px solid rgba(255, 255, 255, 0);
}

/* Галерея */
.pets-list {
  border-radius: 16px;
  padding: 12px;
  min-width: 335px;
  display: block;
  gap: 32px;
  margin-bottom: 40px;
}

/* Картка */
.pet-card {
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
  background: #fff;
}

.pet-card img {
  width: 100%;
  height: 260px;
  object-fit: cover;
}

.pet-info {
  padding: 16px;
}

.pet-info h3 {
  margin-bottom: 8px;
}

/* Кнопка */
.pet-info button {
  margin-top: 12px;
  padding: 10px;
  width: 100%;
  background: #f59256;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 8px;
}

/* Load more */
.load-more {
  display: block;
  margin: 0 auto;
  padding: 14px 32px;
  cursor: pointer;
}

.hidden {
  display: none;
}

@media (min-width: 1280px) {
  .pets-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1279px) {
  .pets-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
